python
gdb.execute("set architecture i386:x86-64:intel")
gdb.execute("target remote localhost:26000")
gdb.execute("symbol-file kernel")
gdb.execute("break main")
try:
  gdb.execute("continue")
except: 
  pass
gdb.execute("disconnect")
gdb.execute("set architecture i386:x86-64")
gdb.execute("target remote localhost:26000")
gdb.execute("delete break 1")
