*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
bootother
bootother.out
initcode
initcode.out
kernel
mkfs
.gdbinit
/mtrace.out
/mtrace.txt
/mscan.out
/mscan.sorted
/mscan.syms
/mscan.kernel
config.mk
